<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-6 col-lg-6 parte1">
            <h1>Página Web BeartMarketing</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nemo id libero vel exercitationem facere harum asperiores accusamus nostrum, rerum aperiam, labore veritatis laudantium ducimus ipsam distinctio qui voluptatum quae.</p>
        </div>
        <div class="col-sm 12 col-md-5 col-lg-5 parte2">
            <img src="../../../assets/Banner.jpeg" class="img-fluid">
        </div>
    </div>
</div>