  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.png" class="img-fluid" id="fotodeperfil">
        <p id="nombre">{{persona.nombre}} Marini</p>
        <p>Full Stack Developer Jr.</p>
      </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae inventore doloribus modi corrupti a minima culpa, assumenda nobis magnam ipsum incidunt placeat laborum praesentium quo omnis pariatur ullam cum.</p>
      </span>
    </div>
  </div>
